.container {width: 80%;}

p { font-size: 1.5em; }

.footnote { font-size:1em; }

.divPrevNext {
    float:right;
    padding-top:8px;
}

.page-header {
}

#pageContainer {
    margin-top: 40px;
}

.breadcrumb {
    background: none !important;
    margin-left: -30px;
}
.postlist {
    list-style: none;
}
.nav2 {
    float: left !important;
}

.entry-content {
    padding-bottom: 50px;
}

h3.next, h3.prev {
    display:inline;
}

h3.next {
    float:right;
}

h3.prev {
    float:left;
}

h1, h2, h3, h4, h5, h6 {
    color: #90a959!important;
}
