---
layout: default
title: Home
---

<div class="posts">
  <div style="margin-bottom:1em">
    <h2 class="post-title">NFTs - Vanilla</h2>
    <a href="https://opensea.io/collection/vanilla-v2" target="_blank">See this collection on OpenSea</a>
  </div>
<div style="margin-bottom:2em;">{% include vanilla.html %}</div>
  {% for post in site.categories['nft-vanilla'] %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url | split: '-' | join }}">
        {{ post.title }}
      </a>
    </h2>
    <div class="postmetadata">  
    <span class="post-date updated">{{ post.date | date_to_string }}</span>
    </div>
    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>
