    <div class="divFooterText">
                    <hr>
                    <p style="float: right;">&nbsp;</p>
                    <div class="divByline" id="idByline">By <a href="http://bsoi.st" target="_blank">Bill Soistmaann</a>&nbsp;<span id="idWhenCreated"></span>&nbsp;</div>
                </div>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
