{% include header.html %}
<div class="page-header">
<h1>Browsing {{ page.catname }} Category</h1>
</div>
<div class="entry-content">
    <p>page.cat = {{ page.cat }}</p>
    <p>site.cats = {{ site.cats }}</p>
    <p>site.tags = {{ site.tags }}</p>
    {% if site.cats[page.cat] %}
        {% for post in site.cats[page.cat] %}
        <li class="postlist"><a href="{{ post.url }}/">{{ post.title }}</a></li>
        {% endfor %}
    {% else %}
        <p>There are no posts in this category.</p>
    {% endif %}
</div>
{% include footer.html %}
