<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.name }}" />
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ site.name }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}/about/" title="about"><i class="fa fa-user"></i></a></li>
                    <li><a href="#">test</a></li>
					<li><a href="http://radio3.io/users/bsoist/" title="links" target="_blank"><i class="fa fa-link"></i></a></li>
					<li><a href="/oped/" title="oped"><i class="fa fa-comment-o"></i></a></li>
					<li><a href="/movies/" title="movies"><i class="fa fa-film"></i></a></li>
					<li><a href="/books/" title="books"><i class="fa fa-book"></i></a></li>
					<li><a href="/fargo/">Built With Fargo</a></li>
					<li><a href="http://github.com/bsoist" target="_blank" title="Github"><i class="fa fa-github-alt"></i></a></li>
					<li><a href="http://stackoverflow.com/users/882145/bsoist" target="_blank" title="Stack Overflow"><i class="fa fa-stack-overflow"></i></a></li>
					<li><a href="http://twitter.com/bsoist" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="http://flickr.com/bsoist" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a></li>
					<li><a href="http://facebook.com/bsoist" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://plus.google.com/105464499358582882628/posts" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="http://bsoist.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>
					<li><a href="https://www.pinterest.com/bsoist/"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="https://lnkd.in/wCt-rr"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="http://feeds.feedburner.com/WellIfYouAskMe" style="color:orange;" target="_blank" title="RSS"><i class="fa fa-rss"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header" style="padding-top:30px;">
            <h1>Well, if you ask me...</h1>
            <p>my thoughts on faith, family, freedom, and fun</p>
      </div>
	<div class="divBlogHomeItem">
            <h2><a href="2015/01/04/coolAsTheOtherSideOfThePillow.html">Cool as the other side of the pillow</a></h2>
		<p>I woke up in the mood to do some writing.</p>

<p>When I learned that <a href="http://espn.go.com/espn/story/_/id/12118296/stuart-scott-espn-anchor-dies-age-49">Stuart Scott lost his battle to cancer</a>, I spent a lot of time putting my thoughts in writing. </p>

<p>I'm sad and I'm spent. Can't put any more effort into writing today. </p>

<p><img alt="my 750words.com stats for today. I am sad" src="https://farm9.staticflickr.com/8667/16171142626_edc5f4c297_b.jpg" /></p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">01/04/15; 12:51:09 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2015/01/04/coolAsTheOtherSideOfThePillow.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2015/01/02/funFridayPlayingGames.html">Fun Friday - Playing Games</a></h2>
		<p>We like to play games at our house.</p>

<p>I don't remember exactly when this started, but at some point we started buying one board game for Billy and one for Becky for Christmas every year, and we enjoyed playing the games together on Christmas day. Like most toys you get your kids for Christmas, they would go unused for most of the next year, but every once in a while we hit on one we all really liked. </p>

<p>I remember one year we considered not getting them because it seemed like the price on games had jumped dramatically, but we realized that a few hours of family of fun was certainly worth a few dollars. I am very glad we did because we've continued this tradition almost every year since. Even as Billy and Becky got older and started to have more expensive gifts, we had Gram and Grandad get the games for them.</p>

<p>At some point Becky really started to get into board games and we started spending more time playing as a family. Now it's a running joke with my brother and sister that they have to buy a new game every time they come to our house because their kids love the games we play when they are here. </p>

<p>This year, Becky's gift from Gram and Grandad was <em>Takenoko</em>. It's a blast and we've played every day since Christmas - most days more than once. </p>

<p>Billy got an Xbox One this year and he and I have been playing through <em>The Master Chief Collection</em> on legendary difficulty. I've played through in single player on legendary before, but we are having a great time doing it together. </p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">01/02/15; 11:06:39 AM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2015/01/02/funFridayPlayingGames.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2015/01/01/48Down.html">48 down</a></h2>
		<p>One of the most interesting things about life, if you ask me, is that we don't know how long it will be.</p>

<p>Today is my 48<sup>th</sup> birthday. I know I've lived 48 years, but I don't know how many I have left.</p>

<p>The important thing, I guess, is to live it.</p>

<p>Happy New Year!</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">01/01/15; 10:00:54 AM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2015/01/01/48Down.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/11/03/tooDangerousForAGirl.html">Too dangerous for a girl</a></h2>
		<p>This is something we talk a lot about at our house, but the "throw like a girl" <a href="http://abcnews.go.com/Sports/mone-davis-back-throw-girl-chevrolet-commercial/story?id=26370923">commercial featuring Mo'ne Davis</a> got me thinking a lot more about this recently.</p>

<p>I still hear people saying that girls shouldn't be allowed to play baseball with the boys.</p>

<p>I'm willing to have a reasoned debate about the pros and cons, there is one argument I cannot handle - "it's too dangerous"</p>

<p>If it's too dangerous girls, maybe it's too dangerous. Period.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">11/03/14; 12:09:02 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/11/03/tooDangerousForAGirl.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/10/29/onTeachingYourChildrenToBeSkeptics.html">On teaching your children to be skeptics</a></h2>
		<p>Yesterday a tweet caught my attention.</p>

<blockquote class="twitter-tweet" lang="en"><p>This morning, our daughter demanded handwriting samples.&#10;&#10;Then, compared them to her note from the tooth fairy.&#10;&#10;With a MAGNIFYING GLASS.</p>&mdash; Merlin Mann (@hotdogsladies) <a href="https://twitter.com/hotdogsladies/status/527167951321829376">October 28, 2014</a></blockquote>

<script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>It probably goes without saying, but I just love the idea of a child trying to dispel the myth of the tooth fairy.</p>

<p>My first thought was something similar to what was expressed in a reply to the original tweet.</p>

<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/hotdogsladies">@hotdogsladies</a> Amazing! And the only validation you need that you are absolutely killing it at the parenting game!</p>&mdash; Mike Swimm (@mikeswimm) <a href="https://twitter.com/mikeswimm/status/527171902172041216">October 28, 2014</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>I'm not sure exactly what @mikeswimm meant by his tweet, but I agree this girl's behavior is a sign of doing something right as parents. </p>

<p>If you ask me, we all need to do a better job teaching our kids to be skeptics. Any kid who is challenging what she knows and what she has been told is on the right track. No question about it.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">10/29/14; 12:07:21 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/10/29/onTeachingYourChildrenToBeSkeptics.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/10/01/eightThingsYourPastorWillNeverTellYouAboutTheBible.html">Eight things your pastor will never tell you about the Bible</a></h2>
		<p>Richard Hagenstoon, author of <a href="http://www.amazon.com/gp/product/1598151460/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1598151460&amp;linkCode=as2&amp;tag=weifyoasme-20&amp;linkId=WF3EADIK2Y6HXG62">Fabricating Faith: How Christianity Became a Religion Jesus Would Have Rejected</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=weifyoasme-20&amp;l=as2&amp;o=1&amp;a=1598151460" alt="" style="border:none !important; margin:0px !important;" height="1" width="1" border="0">, wrote a guest post over at Friendly Atheist on Monday, that I found interesting. I will probably have more to share after I read the book, but I did want to share my comments on a few of the points he makes in his post.</p>

<p>He shares a list of <a href="http://www.patheos.com/blogs/friendlyatheist/2014/09/29/8-things-your-pastor-will-never-tell-you-about-the-bible/"><em>8 Things Your Pastor Will Never Tell You About the Bible</em></a> and usese those points to make a couple of broader points about the Christian faith, which he hints at in the subtitle of his book. I agree with those broader points so I'm not here to raise an issue with those, but I do want to talk about four of his eight points below. He may come to the same conclusions about these four points in his book, but I'd like to share my opinion on them anyway.</p>

<h3>Jesus Said He Wanted to Offer Nothing to Gentiles</h3>

<p>But of whom was Jesus speaking when He used the word <em>Gentiles</em>? I don't want to go off on a rant here, but one has to look no further then U.S. foreign policy to realize that many people interpret the Bible far too literally on this issue. If you interpret Scripture in the reformed tradtion - as a complete book that tells ONE story about ONE God with ONE plan for ONE people - you'll see that "Gentile" and "Jew" are used to represent two peoples, God's people and everyone else.</p>

<h3>Jesus Tells Everyone Not to Think of Him as God in the First Three Gospels</h3>

<p>Jesus often used rhetoric to make a bigger point. Mark 10:18 and the parallel passages in the other gospels is an example of this. Jesus was not denying His deity, He was trying to get the listeners to make the connection - I AM good because I AM. </p>

<h3>Jesus Was Against Public Prayer</h3>

<p>The point here is that some Christians don't carefully read the Bible, or perhaps don't take parts of it seriously. I agree. I make the same mistake myself.</p>

<h3>Some Books of the Bible Are Forgeries</h3>

<p>This is the most interesting of the points, in my opinion, because some of the passages mentions are some that I have the biggest issues reconciling with the rest of what I know. And that's all I'm going to say about that.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">10/01/14; 10:19:29 AM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/10/01/eightThingsYourPastorWillNeverTellYouAboutTheBible.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/09/29/thereIsNoThirdWay.html">There is no third way</a></h2>
		<p>I <a href="http://www.bsoi.st/oped/2014/09/22/whenDidChristianityBecomeAllAboutOneOrTwoPoliticalIssues.html">wrote recently</a> that I was saddened that too high a percentage of posts from some of the Christian blogs I read focus on one or two issues, and when they talk about them they over emphasize the politics. Well, I feel like I have to talk about one of those issues today. I read something the other day and I wanted to post a knee-jerk reaction, but I decided to let the tab sit open in my browser and see if I was still in the mood after a few days passed.</p>

<p>I am.</p>

<p>Albert Mohler calls homosexuality the <a href="http://www.albertmohler.com/2014/09/24/homosexuality-as-dividing-line-the-inescapable-issue/">inescapable issue</a> and states that a church must affirm or not affirm homosexual marriages. He says there is no "third way." </p>

<p>I could not agree more, but he and I would disagree on the side we take on this issue.</p>

<p>I am on the side of affirmation. Plain. And. Simple.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">09/29/14; 02:37:36 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/09/29/thereIsNoThirdWay.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/09/24/aLotOfNewStuffComingTogetherHere.html">A lot of new stuff coming together here</a></h2>
		<p>Something occurred to me yesterday and I am very excited about it - and then today I saw <a href="http://scripting.com/2014/09/24/whatShouldALinkblogLookLikeIn2015.html">What will a linkblog look like in 2015?</a> by Dave Winer. I am not the right person to fit the need expressed in that post, but a quote from the post really stuck with me. </p>

<blockquote>There's going to be a lot of new stuff coming together here.</blockquote>

<p>I've followed Dave's work and writing for almost twenty years. I believe strongly in open standards and protocols, and I like a web that is future proof. One of his best ideas, in my opinion, is what he has always called a "river of news." I love getting my news that way and I've tried a lot of different tools over the years and none have been exactly what I wanted. Even Dave's own river tools were not exactly what I wanted or they didn't quite work for me for one reason or another.</p>

<p>About a year ago, I had this idea for an open platform that was inspired by Dave's writing on all of these topics. It's something I think the web needs, and though I'm no marketing genius ( nor do I care to be ), I think I even know how to promote it for mass-market appeal. About the same time, someone contacted me to work on a project that had elements of a river, which gave me a nice opportunity to  work on something that would get both projects moving.</p>

<p>Over the past year I've been experimenting with most of the tools Dave has been working on, but because the river tool has never been quite what I wanted I was mostly ignoring it. Until yesterday. I decided to give it a spin and the experience this time was much better. I had a head start because I decided to run it on the same server on which I run Fargo Publisher, but I feel like even without that head start, it would have been a very simple thing to get up and running smoothly.</p>

<p>And that's when it hit me how nicely all of these tools fit together.</p>

<p>I think I'm a pretty smart guy, and I've known all along that my idea is inspired by Dave's work, so I guess I am not sure why it didn't occur to me until yesterday that not only has he provided the inspiration, but he has built the tools I need to build the thing.  </p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">09/24/14; 08:57:28 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/09/24/aLotOfNewStuffComingTogetherHere.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/09/22/whenDidChristianityBecomeAllAboutOneOrTwoPoliticalIssues.html">When did Christianity become all about one or two political issues?</a></h2>
		<p>I'm a long time fan of RSS feeds. I subscribe to hundreds of feeds. I've taken some time away from it several times to experiment with getting my "news" elsewhere, but I always come back to some kind of feed reader. After the latest break, I went back to poring through my feeds. One of the topic folders I have is called faith. When I started reading the feeds in this folder, I became sad. </p>

<p>There were eleven feeds represented. Eight of these feeds are from what most people would call "Christian blogs" ( two are atheist and one is decidedly not typical ). </p>

<p>There were twenty-two posts to read from those eight feeds. FIVE of them from four different feeds were about abortion and two of them were about homosexuality. I understand these are important, relevant, and timely issues. If the posts were well written essays on the issues at hand, I wouldn't even mind. What bothers me is that they are just more of the same rhetoric about the political issue and the signals of a culture in decline, etc. etc.</p>

<p>I just think almost 33% of the posts dedicated to political rhetoric is out of balance. There are a lot of things Christians &emdash; and people of other faiths or no faith &emdash; could discuss. </p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">09/22/14; 02:14:36 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/09/22/whenDidChristianityBecomeAllAboutOneOrTwoPoliticalIssues.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/09/18/whatWouldChangeYourMind.html">What would change your mind?</a></h2>
		<p>I sometimes have a hard time explaining to people why creationism is not science. </p>

<p>This video is the best demonstration I have ever seen of what I'm trying to explain to them.</p>

<p>Believe whatever you want, but don't call it science!</p>

<iframe width="560" height="315" src="//www.youtube.com/embed/6j8Babr_n4w?rel=0" frameborder="0" allowfullscreen></iframe>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">09/18/14; 07:24:40 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/09/18/whatWouldChangeYourMind.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/09/18/nobodyCanTellMeWhatToDo.html">Nobody can tell me what to do</a></h2>
		<p>Almost every conversation I have with a conservative about a political issue comes down to "you can't make me!"</p>

<p>Honestly, I get it. As a real libertarian, I understand the argument for a smaller, less powerful government. I really do. That itself is an important issue. I also understand that <a href="http://en.wikipedia.org/wiki/Libertarian_socialism">oppression comes from sources other than goverment.</a></p>

<p>But I am tired of every other issue coming down to that one.</p>

<p>The debate over the ownership of guns is an excellent case study, because it is not, by any means, a simple issue. Sam Harris wrote <a href="http://www.samharris.org/blog/item/the-riddle-of-the-gun">an excellent piece</a> almost two years ago about the complexity of the issue and the fact that both sides really do have good arguments. That's the point. There is an issue to be <strong>discussed</strong>. There may be moral, ethical, and practical decisions to make. This is NOT just about making legislation.</p>

<p>I remember having a discussion with a friend a few years back and I mentioned the movie <a href="http://en.wikipedia.org/wiki/Super_Size_Me">Super Size Me</a>. I am a big fan of films and I enjoy documentaries. This is not a favorite, but it is fun to talk about because I don't like anything about McDonald's ( especially the food ). My friend quickly stopped that thread of our discussion cold with some kind of comment about the "liberal agenda" or some such nonsense. It seemed he couldn't appreciate the substance of the film ( which perhaps was slight ) or have an intelligent discussion about the premise without thinking immediately about how some mysterious dictator out to tell him he was not allowed to eat at McDonald's.</p>

<p>I know, I know. There are people who make rules about what size soda one should be allowed to buy. I'm with you. I have the right to buy any size soda I please. There must be, though, a time to discusss the merits of guzzling soda from a cup so large Ted Kennedy could drop an Oldsmobile into it ( ht, Dennis Miller ).</p>

<p>Bottom line? Just because I want to talk about the environment or guns or bad food choices doesn't mean I want to criminalize your bacon and egg smothered burger. You can eat it, but I'm allowed to say what it is - a bad idea.</p>

<p>BTW, one of the most perplexing things in the universe to me is why many of these same people who don't want to be told what to do support laws against abortion and gay marriage. Talk about being told what to do!</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">09/18/14; 12:02:38 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/09/18/nobodyCanTellMeWhatToDo.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/09/14/theFineLineBetweenDisciplineAndAbuse.html">The "fine line" between discipline and abuse</a></h2>
		<p>When I first learned of the charge facing Adrian Peterson, my first concern was for child involved, but I was worried too about the reaction we might get from those who choose to use corporal punishment on their own children. I rub shoulders with many who believe "the liberal media" or "society today" is on a quest to outlaw their way of life. I stayed away from the story afraid I would lose my temper with someone over someone over all of this. </p>

<p>I'm tired of the "everyone is out to get us" mentality.</p>

<p>I'd prefer we talk about the issue itself - a child who appears to have been <strong><em>beaten</em></strong> - not disciplined, not spanked, beaten!</p>

<p>Today, during a Sunday interview with Jim Rome, Charles Barkley ( a notorious big mouth who I have defended many times in the past ), said this ...</p>

<blockquote>every black parent in the south is going to be in jail -<cite>Charles Barkley <a href="http://ftw.usatoday.com/2014/09/charles-barkley-adrian-peterson-video-ray-rice-cbs-nfl-today">NFL Today with Jim Rome</a></cite></blockquote>

<p>Setting aside the liberties Mr. Barkley is taking when he speaks for an entire class of people, this one comment is so off-the-wall, so irrelevant, so beside the point, that I couldn't believe what I was reading. </p>

<p>Like my mom always said, it doesn't matter if everyone else is doing it.</p>

<p>Fortunately, Jim Rome focused the interview on the actual issue at hand - the child that had been beaten. </p>

<p>I know there are some who won't respect my opinion on the matter after I "admit" this, but I have spanked my children, but what I did with my children was very far from what Peterson allegedly did. I don't want to get into details, but I can tell you that we discussed this issue at length before our children were born, and we were very careful and calculating about using spanking without inflicting physical OR emotional abuse. </p>

<p>We have two very strong willed children. Teaching them obedience without crushing that will and without training them to do everything any adult tells them to do ( something we definitely don't want ) was not an easy thing to do. And I'm not completely sure we succeeded. When our children were young, we did what we thought was best. If we were to start over now, we might do it differently, but we might not. Like most parents, I know I did some things wrong, and like most, I wonder sometimes what things I should have done differently, and I have regrets. But I am confident we did not abuse our children.</p>

<p>Parenting is a tough job. There is a fine line, in my opinion, between corporal punishment and abuse, and I think many parents cross that line. While it is not my place to police other parents, I think it is important to speak up when children are being hurt.  </p>

<p>I agree with Jim Rome on this one ...</p>

<blockquote>That was child abuse. There’s no fine line <strong>here</strong>.</blockquote>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">09/14/14; 02:50:37 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/09/14/theFineLineBetweenDisciplineAndAbuse.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/08/24/movedToMyOwnHostedFargoPublisher.html">Moved to my own hosted Fargo Publisher</a></h2>
		<p>I have been in the process of moving away from my own home grown system for rendering my outlines. </p>

<p>I've been documenting that on a separate blog.</p>

<p>It made sense for a lot of reasons to host my own copy of Fargo Publisher.</p>

<p>I was able to get that set up today and move my outline here.</p>

<p>So far, so good.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">08/24/14; 07:05:03 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/08/24/movedToMyOwnHostedFargoPublisher.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/05/04/cantReallyTalkAboutIt.html">Can't really talk about it ...</a></h2>
		<p>but we've had a very difficult couple of months.</p>

<p>I'm trying to get things back to normal, but my mind is almost always on other things. </p>

<p>I've never been one to have a huge problem with focus, so this has been difficult for me. </p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">05/04/14; 09:23:11 AM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/05/04/cantReallyTalkAboutIt.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/03/12/fargoRocksMoreThanEver.html">Fargo rocks more than ever</a></h2>
		<p>I am very excited the work being done on <a href="http://fargo.io/blog/">Fargo</a> and <a href="https://github.com/scripting/fargoPublisher">Fargo Publisher</a>. I'm keeping my eye on those developments, and I'll probably set up my own server to run it very soon - for myself and others hopefully.</p>

<p>But I am still using my own homegrown system to render and upload my outlines to S3. </p>

<p>I'm not sure I would encourage others to use it at this point because I did make some decisions in the blind and reverse engineering things based on live examples. This means that toggling between my system and Fargo Publisher - or using them at the same time - causes things to break.</p>

<p>Now that the <a href="http://scripting.com/2014/03/07/myTemplatesAreOpenSource.html">standard Fargo templates are available</a>, I may change things up so that the systems work similarly.</p>

<p>Now might not be the time for you to try it, but I did want to point out that I <a href="http://www.bsoi.st/fargoToXhtml">published the code</a> I use via Github.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">03/12/14; 02:21:17 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/03/12/fargoRocksMoreThanEver.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/03/08/howIShortenLinks.html">How I shorten links</a></h2>
		<p>One of the things I've obsessed about the most over the years is how I share links. I've always wanted a way to shorten links but have a way to control the whole thing myself and/or move to other systems when necessary. </p>

<p>For a while I use Adjix which I really liked and the idea was that I could take those links with me. This proved a great idea because the service disappeared and I was able to take my links with me.</p>

<p>by rolling my own solution this time - <a href="https://github.com/bsoist/ShortenLinks">ShortenLinks</a></p>

<p>I have a Cloud Cannon site at http://links.cloudvent.net. This site is nothing but a bunch of folders that contain one index file that redirects to another URL. I also have an Apache2 server that redirects my short links to those cloud cannon pages. This allows me to add links from any of my computers where I have Dropbox installed without having to be logged in to the server.</p>

<p>Let's look at an example.</p>

<ul>
<li><p>Apache2 redirects http://07.bsoi.st to http://links.cloudvent.net/07</p></li>
<li><p>http://links.cloudvent.net/07/index.html redirect to http://what-if.xkcd.com/30/</p></li>
</ul>

<p>If I were to try to make a short link for that URL again, my script would simple print http://07.bsoi.st so I could share the short link. </p>

<p>If I try to share a new link, linkit.py will ... </p>

<ul>
<li><p>find an unused short string</p></li>
<li><p>save that and the URL to the CSV file that keeps the history</p></li>
<li><p>create the index.html page and folder in links.coudvent.net</p></li>
<li><p>create the redirect rule and save it to a config file in links.cloudvent.net</p></li>
</ul>

<p>I have a cron job ( grab_config.sh ) that runs as root on my server and looks for the config file and updates Apache accordingly.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">03/08/14; 01:32:31 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/03/08/howIShortenLinks.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/03/08/wellThatDidntTakeLong.html">Well, that didn't take long</a></h2>
		<p>I just can't get used to using email over the web.</p>

<p>I decided to give Thunderbird another try. I'm glad I did. The goofy interface I remember is from the Windows version. What I'm using now doesn't seem so bad. It's not quite the way I would have designed it, but I like it.</p>

<p>A little slower than using the web, but it's fine for the way I do email.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">03/08/14; 12:33:15 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/03/08/wellThatDidntTakeLong.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/03/03/comingHomeToLinux.html">Coming home to Linux</a></h2>
		<p>Title inspired by the excellent <a href="http://stevelosh.com/blog/2010/09/coming-home-to-vim/">Coming Home to Vim</a> by Steve Losh.</p>

<p>Sometime in 2002 I switched to OS X as my main OS. Until then I had used Linux as my OS but I had some exposure to Windows and OS X. </p>

<p>I've been generally happy with it since then, but I have become increasingly concerned with the direction Apple seems to be going - "approved" developers, etc.</p>

<p>So I decided to switch back. </p>

<p>I previously used SuSE, debian, and Red Hat, but I've been using Ubuntu a lot when I build AWS instances, so I thought that would be my best option. </p>

<p>I am not sure how the transition will go, so I installed it on an old laptop and plan to use that connected to my 30" display, and I'll leave my iMac running right next to it. The plan is to completely abandon the Mac and only grab stuff from it when I need it.</p>

<p>It has been about a week and I'm doing just fine without the Mac. If it continues to go well, I will get a better machine and migrate over some stuff and make the switch.</p>

<p>There are a couple of things I am a little concerned about. </p>

<p>Syncing - I've grown accustomed to using several different Macs and they all sync up just perfectly. The experience with Linux and Windows was never quite as seamless, and I'm not a big fan of using my laptop as my all-day machine. I want a desktop and a laptop, and I want them to feel like the same machine. </p>

<p>Email - I prefer a desktop client and I don't like my choices on Linux. For now, I'm just going to use the web interface for email.</p>

<p>iMessages - I've gotten VERY USED TO sending and receiving text messages from my Mac. I sit in front of the computer a lot, and it's very handy.</p>

<p>Music and Photos - I stopped using iPhoto and iTunes some time ago, but I do have huge libraries and I need to find a way to manage those photos and music.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">03/03/14; 04:53:30 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/03/03/comingHomeToLinux.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/03/02/timeForTheOscars.html">Time for the Oscars!</a></h2>
		<p>It's time once again for the Oscars and, as usual, I am going to share my opinions on the nominations, my projections for the winners, and our menu for viewing.</p>

<p>First, the menu ...</p>

<ul>
<li><p>As I mentioned last year, our household turned vegetarian sometime after the 2012 Oscars, so putthing a film inspired menu together is a bit of a challenge. This year, the food was all over the place, and it's just three of us, so we opted to make it an all day menu. ( Actually, our diets are all a little different - Terri is pescatarian, Becky vegetarian, and I am <em>mostly</em> vegan but I eat cheese and eggs occasionally - but we wanted food we would all eat today. </p></li>
<li><p>For breakfast, we had omelettes in honor of Philomena.</p></li>
<li><p>For lunch, we had baked beans in honor of Captain Phillips, a native of bean town. We found a great recipe online for squash, spinach, and feta samosas, but we didn't have then energy to put those together.</p></li>
<li><p>We have one movie to watch yet, so we are having popcorn in honor of Nebraska - and we cooked it in the science oven in honor of American Hustle. </p></li>
<li><p>For dinner we will have Mac and Cheese in honor of Her - something we imagine a bachelor might have for dinner. We are pretty sick of pizza and we love making cupcakes, but not eathing them so much. <img title=':blush:' alt=':blush:' class='emoji' src='http://fargo.io/code/emojify/images/emoji/blush.png' align='absmiddle' /></p></li>
<li><p>Snacks and dessert for the show - Texas Caviar ( Dallas Buyers Club ), Moon Pies ( Gravity ), Creampuffs ( The Wolf of Wall Street ), and Blackberry Cobbler ( 12 Years a Slave - in honor of his blackberry ink ).</p></li>
<li><p>Meat eaters might want to add steak ( Dallas Buyers Club ), clams casino ( American Hustle ), and Lobster ( The Wolf of Wall Street ).</p></li>
<li><p>For those of you that drink, you might want to include the following ( click on each if you can't guess what movie they match ).</p></li>
<li><p>Pabst Blue Ribbon</p>

<ul><li>Nebraska</li></ul></li>
<li><p>Champagne</p>

<ul><li>The Wolf of Wall Street</li></ul></li>
<li><p>Coffee</p>

<ul><li>Captain Phillips</li></ul></li>
<li><p>Guinness</p>

<ul><li>Philomena</li></ul></li>
<li><p>Proseco</p>

<ul><li>American Hustle</li></ul></li>
<li><p>Red Wine</p>

<ul><li>12 Years a Slave</li></ul></li>
<li><p>Russian Vodka</p>

<ul><li>Gravity</li></ul></li>
<li><p>Strawberry Daquiri</p>

<ul><li>Her</li></ul></li>
<li><p>Whiskey and Coke</p>

<ul><li>Dallas Buyers Club</li></ul></li>
</ul>

<p>The Nominations</p>

<ul>
<li><p>I thought there were a few surprises this year.</p></li>
<li><p>There was a lot of talk about Jennifer Lawrence being a bogus nomination, but I disagree. I know I'm biased, loving Lawrence like I do, but I saw the film twice and I think her performace was worthy of a nomination. I actually think she might win.</p></li>
<li><p>Tom Hanks, Emma Thompson, and Robert Redford turned in fantastic acting performances this year. I'm not sure if their performances warrant bumping someone out of nominations, but they deserve notice.</p></li>
<li><p>Julie Delpy should have been nominated. This is a hard category, but I think her perfomance was as good as any of the nominees. If I had to drop someone, it would be Meryl Streep ( and not just because I love Amy and Sandy ).</p></li>
<li><p>I also thought Before Midnight deserved more than the single nomination it received.</p></li>
<li><p>I was sorry to see ZERO nominations for Fruitvale Station. The movie had some flaws, but it deserved notice.</p></li>
<li><p>I didn't see Inside Llewyn Davis, but people who did seem surprised it wasn't nominated. </p></li>
<li><p>I've listed some other possible snubs below.</p></li>
</ul>

<p>The Winners</p>

<ul>
<li><p>I saw American Hustle twice and I think it could be the big winner this year. I think the Academy might be ready to give the high honors to a fun film for a change.</p></li>
<li><p>Click on the categories below to see my choices and preditions. The order is based on <a href="http://www.indiewire.com/article/is-this-the-order-and-timing-for-tonights-oscars">someone else's predictions</a>. I've listed the ratio of seen/unseen for all the categories.</p>

<ul><li><p>Actor in a Supporting Role - 4/5</p></li>
<li><p>I really like Cooper and Hill, but I didn't see Hill's performance and I feel like I've seen Cooper do this before. </p></li>
<li><p>My choice - Jared Leto</p></li>
<li><p>Prediction - Jared Lito</p></li>
<li><p>The other two were fantastic.</p></li>
<li><p>Animated Short Film</p></li>
<li><p>This is the first year in many that I've actually liked all five. I also liked the highly commended choices. </p></li>
<li><p>I thought it was interested that all of these were about isolation on some level.</p></li>
<li><p>My Choice - Mr. Hublot</p></li>
<li><p>Prediction - Get a Horse</p></li>
<li><p>Possessions was brilliant too!</p></li>
<li><p>Animated Feature Film - 2/5</p></li>
<li><p>I've only seen two of these, and I don't typically like the Disney movies, but I think Frozen was fantastic. </p></li>
<li><p>My Choice - Frozen</p></li>
<li><p>Prediction - Frozen</p></li>
<li><p>Cinematography - 2/5</p></li>
<li><p>I've only seen two of these - Gravity and Nebraska.</p></li>
<li><p>My Choice - Nebraska</p></li>
<li><p>Prediction - Gravity</p></li>
<li><p>Snub? - 12 Years a Slave</p></li>
<li><p>Visual Effects - 4/5</p></li>
<li><p>My Choice - Gravity</p></li>
<li><p>Prediction - Gravity</p></li>
<li><p>Costume Design - 2/5</p></li>
<li><p>My Choice - American Hustle</p></li>
<li><p>Prediction - American Hustle</p></li>
<li><p>Make Up and Hair Styling - 2/3</p></li>
<li><p>Jackass seems to be the favorite and I didn't see it, so my choice has to be Dallas Buyers Club.</p></li>
<li><p>My Choice - Dallas Buyers Club</p></li>
<li><p>Prediction - Jackass</p></li>
<li><p>Snub? - American Hustle</p></li>
<li><p>Live Action Short Film</p></li>
<li><p>I liked all of these very much for very different reasons, but one of them was an almost perfect short film.</p></li>
<li><p>My Choice - Just Before Losing Everything </p></li>
<li><p>Prediction - The Voorman Problem</p></li>
<li><p>To be clear, my choice is the perfect one. <img title=':blush:' alt=':blush:' class='emoji' src='http://fargo.io/code/emojify/images/emoji/blush.png' align='absmiddle' /></p></li>
<li><p>Documentary Short Subject</p></li>
<li><p>All of the animated films were about isolation. All of these were about forgiveness in some way. And they were all very powerful films.</p></li>
<li><p>My Choice - The Lady in Number 6</p></li>
<li><p>Prediction - The Lady in Number 6</p></li>
<li><p>Sound Mixing - 3/5</p></li>
<li><p>My Choice - Gravity</p></li>
<li><p>Prediction - Gravity</p></li>
<li><p>Sound Editing - 4/5</p></li>
<li><p>My Choice - Gravity</p></li>
<li><p>Prediction - Gravity</p></li>
<li><p>Actress in a Supporting Role - 5/5 </p></li>
<li><p>All of these were fantastic performances, but one of them was certainly the best. </p></li>
<li><p>My Choice - Lupita Nyong'o</p></li>
<li><p>Prediction - Lupita Nyong'o</p></li>
<li><p>Film Editing - 5/5</p></li>
<li><p>American Hustle had many technical flaws, and editing was the worst. In my opinion, it should not have been nominated. Any of the others could win.</p></li>
<li><p>My Choice - Gravity</p></li>
<li><p>Prediction - Gravity</p></li>
<li><p>Production Design - 3/5</p></li>
<li><p>My Choice - American Hustle</p></li>
<li><p>Prediction - Gasby</p></li>
<li><p>Original Score - 3/5</p></li>
<li><p>My Choice - Gravity</p></li>
<li><p>Prediction - Gravity</p></li>
<li><p>Original Song - 4/4</p></li>
<li><p>My Choice - Let it Go</p></li>
<li><p>Prediction - Let it Go</p></li>
<li><p>Adapted Screenplay - 4/5</p></li>
<li><p>My Choice - Before Midnight</p></li>
<li><p>Prediction - 12 Years a Slave</p></li>
<li><p>I still disagree with sequels being considered adapted.</p></li>
<li><p>Original Screenplay - 4/5</p></li>
<li><p>My Choice - Her</p></li>
<li><p>Directing - 4/5</p></li>
<li><p>My Choice - Steve McQueen</p></li>
<li><p>Prediction - Cuaroin </p></li>
<li><p>Actress in a Leading Role - 5/5</p></li>
<li><p>My Choice - Adams</p></li>
<li><p>Prediction - Blanchet</p></li>
<li><p>Actor in a Leading Role - 4/5</p></li>
<li><p>This is a tough one for me. When I first saw Bale in Hustle I had a hard time thinking anyone could have done better, but they were all fantastic this year. </p></li>
<li><p>My Choice - McConaughey</p></li>
<li><p>Prediction - McConaughey</p></li>
<li><p>Best Picture - 7/9</p></li>
<li><p>Tough category this year. I saw seven of these and most deserve a win. And I'm sure the other two are contenders.</p></li>
<li><p>My Choice - 12 Years a Slave ( though I would be thrilled if American Hustle wins )</p></li>
<li><p>Prediction - Gravity</p></li></ul></li>
</ul>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">03/02/14; 06:54:05 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/03/02/timeForTheOscars.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2014/01/18/missingMomOnMyBirthdayAndTheArbitraryNatureOfTime.html">Missing mom on my birthday, and the arbitrary nature of time</a></h2>
		<p>When I moved from Wordpress, I forgot about a post that was scheduled for my birthday - 1/1. Since I still have an archive of my old blog ( at least until I move those posts here ), I just noticed it <a href="http://archive.whsjr.soistmann.com/oped/2014/01/01/missing-mom-on-my-birthday-and-the-arbitrary-nature-of-time/">there</a>, so I'm going to share it here too. </p>

<p>Today is my birthday. Having a birthday on New Year's Day has it's benefits and disadvantages.</p>

<p>I always think of my mom on my birthday. She always went to great lengths to make people take notice of my birthday and to make it a perfect day.</p>

<p>She had this ridiculous tradition of wanting to see me or at least talk to me on the phone at exactly the time I was born. I used to try desperately to explain to her how silly that was, given that time is an arbitrary convention, etc. etc.</p>

<p>Well, today I wish I could share <a href="http://what-if.xkcd.com/26/">this</a> with her.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">01/18/14; 04:27:14 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2014/01/18/missingMomOnMyBirthdayAndTheArbitraryNatureOfTime.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2013/10/23/convertYourOutlines.html">Convert your outlines</a></h2>
		<p>The other day I mentioned that I had a script working that would convert Fargo outlines to html/CSS.  </p>

<p>I had five outlines I wanted to be able to publish as webpages. I wrote the script with one of those outlines in mind and got it working on it. Then I converted another and it worked without any modification. Then I tried two more and they failed only where there were nodes with type = include. When I edited the script to ignore the includes, it worked just fine apart from one error. Fixing something in one of the outlines fixed that problem, so all I needed to do was build support for includes. </p>

<p>That turned out to be easier than I thought. I had it done in ten minutes.</p>

<p>Then I turned to the last of my five outlines and I that's when I discovered a few things I didn't like. It took me about an hour of editing code and debugging, but I finally got it to the point where I am comfortable using it to publish the sites.</p>

<p>The next step, in my opinion, is to try and convert more outlines. So I set up a page where you can add share the URL to your outline and get a zip file of your xhtml files. Give it a shot <a href="http://whsjr.soistmann.com/fargo2html/">right over here</a>.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">10/23/13; 06:50:22 AM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2013/10/23/convertYourOutlines.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2013/10/20/bloggingWithFargoAgain.html">Blogging with Fargo again!</a></h2>
		<p>As I've <a href="http://whsjr.soistmann.com/oped/2013/07/31/fargo-rocks/">mentioned before</a>, I like Fargo a lot. I use it for most of my outlining, list-making, and documentation needs.</p>

<p>And I really wanted to use it for Blogging - as did others. </p>

<p>Dave Winer, who built Fargo, <a href="http://scripting.com/2013/07/25/changesAtSmallPicture">warned</a> those of us that were doing so that we were on our own, but things seemed to go well for months, so I was hooked. I even convinced my wife and her team teacher to use it for their classroom websites. </p>

<p>So I was counting on it for five websites - despite the warnings. </p>

<p>When it became obvious that <a href="http://scripting.com/2013/10/07/endOfTrex">I needed to find another solution</a>, I asked Dave for access to the server code, but never heard back from him, so I started working on something that would work for me. The idea was that if I could get my five sites up and running, I might take it from there.</p>

<p>I was almost there when Trex was released under GPL, so I was distracted for a couple of days with that, but eventually decided I needed to get this done.</p>

<p>It's functional now. </p>

<p>Keep up with my progress  <a href="/fargoToXhtml">over here</a>. </p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">10/20/13; 12:48:41 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2013/10/20/bloggingWithFargoAgain.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2013/08/11/iThoughtOfAnotherEndingForBreakingBad.html">I thought of another ending for Breaking Bad</a></h2>
		<p>A few days ago I woke up at three a.m. to some strange noises in and around the house.</p>

<p>That's when it hit me - I know how Breaking Bad is going to end. </p>

<p>If you haven't watched the show, I highly recommend it. If you ask me, it is the greatest television drama of all time - bar none. I do not recommend you read the rest of this post unless you've recently finished watching Breaking Bad, or you've seen it several times - or, I guess, if you are convinced you'll never watch it, in which case, I'm not sure why you're still reading anyway.</p>

<p>I realized this morning how it's going to end, but first I will give you some background.</p>

<p>I've seen the series several times. I background watch it most of the time now, but I catch what's going on. We just finished the most recent watching yesterday, and we thoroughly enjoyed the last episode just as much this time as we did the first time.</p>

<p>All through the series, Terri keeps insisting "this is not going to end well." Becky and I are not so sure, we see a possible happy ending for everyone. All four of us realized early on that Hank is the real hero. And, of course, we agree with the rest of the Internet - we don't want Jesse to die.</p>

<p>If the show holds to its form as a tragedy, Walt has to end up killing Walt Jr. The only problem with that scenario is that I can only think of one scene that might have set the stage for that, and even that is s stretch. Given the show's tendency to leave hints, I'm guessing it's not going to happen that way. I'm sure that would be very upsetting to viewers - and breakfast lovers - everywhere.</p>

<p>Another impossible scenario is that the Walt, Skylar, Walt Jr, Holly, Hank, and Marie all come to some sort of agreement. I think Hank has earned his day in the sun.</p>

<p>Another scenario I dreamed up would have Hank and Marie taking Flynn, Esmerelda, and all the money, and running off to the islands to live the life with Jesse, Andrea, and Brock. Who cares what happens to Walt and his selfish bride. </p>

<p>What occurred to me today, though, was that Walt is setting Jesse up. </p>

<p>He killed Mike. He knew it was unnecessary, and that scene where he announces that seems very suspicious to me. Walt has been too smart up until now to make that kind of mistake.</p>

<p>Then he leaves all that money to Jesse? What else did he put in those bags, huh?</p>

<p>It just seems like he is closing the loop.</p>

<p>He'll have to deal with Todd and Lydia, but that's it, right?</p>

<p>As I thought more about it, I see a real problem with that theory - aside from the fact that it does not give Hank his victory. I'll rewatch the last episode tonight, and I'll see if I'm thinking straight.  </p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">08/11/13; 05:40:42 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2013/08/11/iThoughtOfAnotherEndingForBreakingBad.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2013/08/09/rankingNflPlayersUsingFaniumRules.html">Ranking NFL players using Fanium rules</a></h2>
		<p>I was once a big fan of fantasy sports. I even ran a business based on it before the days of the Internet. Then I grew tired of it - for a lot of reasons I won't get into now.</p>

<p>But when I saw <a href="http://www.howardlindzon.com">Howard Lindzon</a> tweet about his league using Fanium, I decided to give it a try again this season. </p>

<p>I assumed Fanium's scoring rules were different than ESPN's so I decided to use the porjections for stats that ESPN publishes, and calculate my own points projections. </p>

<p>That's what you see below.</p>

<script src="https://gist.github.com/bsoist/6195449.js"></script>

<p>I run the script like so </p>

<ul>
<li><code>python -i fanium.py</code> </li>
</ul>

<p>and then use</p>

<ul>
<li><code>getPlayers(50)</code></li>
</ul>

<p>to get the top fifty. Calling getPlayers again gets more players - <code>getPlayers(10)</code> after the first call for fifty get players 51 - 60. </p>

<p>NOTES:</p>

<ul>
<li><p>Using my projections will almost certainly result in a losing season. </p></li>
<li><p>I don't take 2 point conversions or fumbles into account. Those weren't listed on the ESPN projections.</p></li>
<li><p>Fanium has its own projections. They differ from mine - probably because they count the things I don't ( and perhaps I don't know what I'm doing).</p></li>
<li><p>I don't have any way of accounting for which players are available other than just ignoring them. </p></li>
<li><p>Players projected to have zero points are left out of the list. </p></li>
</ul>

<p>I also added this </p>

<ul>
<li><code>print &quot;&lt;table&gt;&lt;tr&gt;&lt;td&gt;Player&lt;/td&gt;&lt;td&gt;Team&lt;/td&gt;&lt;td&gt;Position&lt;/td&gt;&lt;td&gt;Projected Points&lt;/td&gt;&lt;/tr&gt;%s&lt;/table&gt;&quot; % &quot;\n&quot;.join([&quot;&lt;tr&gt;&lt;td&gt;%s&lt;/td&gt;&lt;td&gt;%s&lt;/td&gt;&lt;td&gt;%s&lt;/td&gt;&lt;td&gt;%s&lt;/td&gt;&lt;/tr&gt;&quot; % player for player in players])</code></li>
</ul>

<p>so I could generate results in an xhtml table.</p>

<p>I run projections every week and post similar tables online <a href="http://bsoist.cloudvent.net/fanium/">right over here</a>.</p>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">08/09/13; 12:28:44 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2013/08/09/rankingNflPlayersUsingFaniumRules.html"><i class="fa fa-star"></i></a></div>
			</div>
		</div>
	<div class="divBlogHomeItem">
        <h2><a href="2013/08/08/myTweetScripts.html">My Tweet Scripts</a></h2>
		<p>In my <a href="http://bsoist.smallpict.com/2013/08/08/usingFargoToLinkblogAndTweet">previous post</a>, I promised I'd share these.</p>

<p>Tweet Scripts</p>

<ul>
<li><p>Tweet This</p>

<ul><li><p><code>bsoistVerbs.tweetThis();</code></p></li>
<li><p>Takes the text from the currently selected node and adds it to my "Tweets" outline and then launches the tweet window pre-populated. (I have the Buffer add-on for Chrome, so that window also has the option to add to Buffer if I choose.)</p></li></ul></li>
<li><p>Tweet Blog</p>

<ul><li><p><code>bsoistVerbs.tweetBlog();</code></p></li>
<li><p>Takes the title and URL of the currently selected node and "tweets" it as described above.</p></li></ul></li>
<li><p>Tweet Link</p>

<ul><li><p><code>bsoistVerbs.tweetLink();</code></p></li>
<li><p>Takes the title and URL of the currently selected node and "tweets" it as described above.</p></li></ul></li>
</ul>

<p>The second and third one seem identical, but they work differently. </p>

<p>You can see all my verbs <a href="https://gist.github.com/bsoist/6152295">here</a>, and the relevant bits below.</p>

<script src="https://gist.github.com/bsoist/6186807.js"></script>
		<div class="divBlogHomeStoryDate">
			<span class="spFargoStoryDate">08/08/13; 12:30:48 PM</span>
			<div class="divFargoStoryLink" style="float: left;"><a href="2013/08/08/myTweetScripts.html"><i class="fa fa-star"></i></a></div>
			</div>
</div>

				<div class="divFooterText">
					<hr>
					<p style="float: right;">Last built: Sun, Jan  4, 2015 at 12:56 PM</p>
					<div class="divByline" id="idByline">By <a href="http://bsoi.st" target="_blank">Bill Soistmaann</a>, <span id="idWhenCreated">Sunday, January  4, 2015 at 12:56 PM</span>.</div>
				</div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
