{% include header.html %}
<div class="divPrevNext">
    <div class="divPrevNextLinks"><a href="http://oped.bsoist.com/2014/05/04/cantReallyTalkAboutIt.html" title="Can't really talk about it ..." ><i class="fa fa-arrow-left" style="color: black"></i></a>&nbsp;&nbsp;<a href="http://oped.bsoist.com/2014/03/08/howIShortenLinks.html" title="How I shorten links" ><i class="fa fa-arrow-right" style="color: black"></i></a></div>
</div>
<div class="divBreadcrumbs" id="idBreadcrumbs">
    <ul id="idBreadcrumbList" class="breadcrumb">
        <li><a href="http://oped.bsoist.com">Home</a>
        <li><a href="http://oped.bsoist.com/2014">2014</a>
        <li><a href="http://oped.bsoist.com/2014/03">March 2014</a>
        <li><a href="http://oped.bsoist.com/2014/03/12">March 12</a></li>
    </ul>
</div>
<div class="page-header">
<h1>{{ page.title }}</h1>
</div>
{{ content }}
{% include disqus.html %}
{% include analytics.html %}
{% include footer.html %}
