{% capture this_year %}{{ page.date | date: "%Y" }}{% endcapture %}
{% capture this_mon %}{{ page.date | date: "%m" }}{% endcapture %}
{% capture this_d %}{{ page.date | date: "%d" }}{% endcapture %}

{% capture this_day %}{{ page.date | date: "%e" }}{% endcapture %}
{% capture this_month %}{{ page.date | date: "%B" }}{% endcapture %}

{% include header.html %}
<div class="page-header">
<div class="divPrevNext">

    <div class="divPrevNextLinks">
    {% if page.next %} 
    <a rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}" ><i class="fa fa-arrow-left" style="color: black"></i></a>
    {% endif %}
    &nbsp;&nbsp;
    {% if page.previous %} 
        <a rel="prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}" ><i class="fa fa-arrow-right" style="color: black"></i></a>
    {% endif %}
    </div>
</div>
<div class="divBreadcrumbs" id="idBreadcrumbs">
    <ul id="idBreadcrumbList" class="breadcrumb">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/{{ this_year }}">{{ this_year }}</a></li>
	<li><a href="{{ site.baseurl }}/{{ this_year }}/{{ this_mon }}">{{ this_month }} {{ this_year }}</a></li>
	<li><a href="{{ site.baseurl }}/{{ this_year }}/{{ this_mon }}/{{ this_d }}">{{ this_month }} {{ this_day }}</a></li>
    </ul>
</div>
<h1>{{ page.title }}</h1>
</div>
{{ content }}
{% include disqus.html %}
{% include analytics.html %}
{% include footer.html %}
