--
layout: post
--
{% include header.html %}
<div class="page-header">
    <h1>Well, if you ask me...</h1>
    <p>my thoughts on faith, family, freedom, and fun</p>
</div>


    <div class="divFargoOutlineBody">
        <div id="idOutlineImage">
            <div id="idOutlineContainer" class="container">
                <div id="idTextInFrontOfImage">
                    <div class="divHeadlineUnit" id="idHeadlineUnit">
                        <div class="divPrevNext">
                            <div class="divPrevNextLinks"><a href="http://oped.bsoist.com/2014/05/04/cantReallyTalkAboutIt.html" title="Can't really talk about it ..." ><i class="fa fa-arrow-left" style="color: black"></i></a>&nbsp;&nbsp;<a href="http://oped.bsoist.com/2014/03/08/howIShortenLinks.html" title="How I shorten links" ><i class="fa fa-arrow-right" style="color: black"></i></a></div>
                        </div>
                        <div class="divBreadcrumbs" id="idBreadcrumbs">
                            <ul id="idBreadcrumbList" class="breadcrumb">
                                <li><a href="http://oped.bsoist.com">Home</a>
                                <li><a href="http://oped.bsoist.com/2014">2014</a>
                                <li><a href="http://oped.bsoist.com/2014/03">March 2014</a>
                                <li><a href="http://oped.bsoist.com/2014/03/12">March 12</a></li>
                            </ul>

                        </div>
                        <h1>{{ page.title }}</h1>
                    </div>
                    <div class="divFargoMarkdown" id="idFargoMarkdown">
                        {{ content }} 
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include footer.html %}
